.skills__cards{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 2rem;
}

/* @media screen and (max-width: 1400px) {
  .skills__cards{
    justify-content:flex-start;
    gap: calc((100% - (3 * 208px)) / 2);
    
  }
} */

@media screen and (max-width: 1023px) {
  .skills__cards{
    justify-content:flex-start;
    gap: calc((100% - (3 * 224px)) / 2);
    
  }
}

@media screen and (max-width:780px) {
  .skills__cards{
    gap: calc((100% - (156px * 4)) / 3);
  }  
}

@media screen and (max-width:665px) {
  .skills__cards{
    gap: calc((100% - (156px * 3))/ 2);
  }  
}
@media screen and (max-width:515px) {
  .skills__cards{
    gap: calc((100% - (156px * 2)));
  }  
}
