.apresentacao__imagem{
  background: url("../../imgs/profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:23rem;
  border-radius: 50%;
  flex-shrink: 0;
  width: 23rem;
  height: 23rem;
}

@media screen and (max-width: 1023px) {
  .apresentacao__imagem{
    background-size:9.125rem;
    width: 9.125rem;
    height: 9.125rem;
  }
}



