.apresentacao__item{
  font-size: 1rem;
  font-weight: 500;
}

.apresentacao__item::after{
  content:"";
  display: inline-block;
  background-image:url(../../imgs/arrow.png);
  height:1.5rem;
  width: 1.5rem;
  background-position:bottom;
  background-repeat: no-repeat;
}


@media screen and (max-width: 767px){
  .apresentacao__item{
    font-size: 0.875rem;
    font-weight: 600;
  }

  .apresentacao__item::after {
    height: 1rem;
    width: 1rem;
}

}
