.apresentacao{
  display: flex;
  justify-content: space-between;
  padding-top:4.16rem;
  padding-bottom:2rem;
}


@media screen and (max-width:1023px) {
  .apresentacao{
    padding-top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .apresentacao{
    flex-direction: column-reverse;
  }

}
@media screen and (min-width:1024px) {
  .apresentacao{
    padding-top: 6.5rem;
  }
}

