.xp__img{
  width: 55vw;
  max-width: 47rem;
  background: lightgray 0px -14.078px / 100% 128.245% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1023px) {
  .xp__img{
    width: 100%;
    max-width:unset;
  }
}