:root{
  --preto: #464646;
  --cinza: #f7f7f7;
  --azul-claro: #EAF2FD;
  --azul-escuro:#2A7AE4;
  --branco: #FFFF  
}

body{
  background-color: var(--cinza)
}

h1, h2, h3, h4, h5, h6, p, span, a{
  color: var(--preto);
}

.container{
  padding-left:9.5rem ;
  padding-right:9.5rem;
  width: 100vw;
}

/* Grandes telas */
@media screen and (min-width: 1700px){
  .container{
    padding-left:13vw;
    padding-right:13vw;
  }
}
