:root{
  --preto: #464646;
  --cinza: #f7f7f7;
  --azul-claro: #EAF2FD;
  --azul-escuro:#2A7AE4;
  --branco: #FFFF  
}

body{
  background-color: var(--cinza);
}

h1, h2, h3, h4, h5, h6, p, span, a{
  color: var(--preto);
}

.container{
  padding: 0 9.5rem;
}

.button{
  background: var(--azul-escuro);
  padding: 1rem;
  text-align: center;
}
.button--onlyBorder{
  border: solid var(--azul-claro);
  padding: 1rem;
  text-align: center;

}

/* Telas Grandes */
@media screen and (min-width: 1550px){
  .container{
    padding: 0 4rem;padding: 0 calc((100% - (1440px - 9.5rem))/2);
  }
}  