.cabecalho{
  background: var(--cinza);
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 999;
}
/* tablet */
@media screen and (max-width:1023px) {
  .cabecalho{
    position: unset;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

