.sobre__assinatura{
  font-family: 'Sassy Frass', cursive;
  font-size: 2.5rem;
}

.sobre__assinatura--nome{
  letter-spacing: -0.3rem;
  position: relative;
}

.sobre__assinatura--sobrenome{
  letter-spacing: -0.15rem;
  position: absolute;
  left: 39px;
}


