.sobre__texto{
  font-size: 1rem;
  line-height: 18.78px;
  max-width: 49.43rem;
  width: 42vw;
}

@media screen and (max-width: 1150px){
  .sobre__texto{
    font-size: 0.875rem;
    line-height: 18.78px;
    width: 100%;
  }
}