.sobre__titulo{
  font-size: 2rem;
  font-weight: 700;
}
.sobre__titulo::first-letter{
  text-transform: uppercase;
}

@media screen and (max-width: 1150px){
  .sobre__titulo{
    font-size: 1.375rem
  }
}