.formacao__cardsContainer{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media screen and (max-width: 767px) {
  .formacao__cardsContainer{
    flex-direction: column;
    align-content: center;
  }
}
