.formacao__card__img{
  box-sizing: border-box;
  width: 23rem;
  position: absolute;
  top:20%;
}


img.formacao__card__img--anhanguera{
  width:70%;
  left:50px;
  top:50px;
}
img.formacao__card__img--descomplica{
  top: 5rem;
  left: 2.5rem;
  width: 70%;
}

@media screen and (max-width: 1062px) {
  .formacao__card__img{
    width: 14rem;
    top:7%
  }

  img.formacao__card__img--anhanguera{
    width:50%;
    left:25%;
    top:12%;
  }
  img.formacao__card__img--descomplica{
    top: 15%;
    left: 20%;
    width: 60%;
  }
}
